* {
  box-sizing: border-box;
}
.sr {
  background-color: #9a9389;
}
body {
  background-color: #9a9389;
}
/* 大枠 */
.body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}
/* 項目ごと */
.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-color: #9b948a; */
}

/* トップイメージ */
.line-sketch {
  height: 100vh;
  width: 100vw;
  max-width: 1000px;
  margin: auto;
  position: fixed;
  z-index: 0;
}
.line-sketch > img {
  object-fit: cover;
  height: 100%;
  width: 100vw;
}
.profile {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 29%;
  height: 100px;
  z-index: 5;
  font-family: "Courier New", Courier, monospace;
  color: #faf9f9;
  -webkit-text-stroke: 0.5px #2c443a;
}

/* タイトル */
.profile > .profile__title {
  position: relative;
  font-size: 35px;
  margin: 0 auto;
  max-width: 500px;
  letter-spacing: 10px;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
/* リニューアルタイトル */
.profile > .profile__renewal {
  position: relative;
  font-size: 35px;
  margin: 0 auto;
  max-width: 500px;
  letter-spacing: 10px;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.profile__title:before {
  position: absolute;
  top: 1.3rem;
  left: 0.5rem;
  width: 100%;
  height: 17px;
  background-color: #2c443a;
  content: "";
  z-index: -1;
}
.profile > .profile__sub {
  font-size: 25px;
  letter-spacing: 5px;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.profile__sub:before {
  position: absolute;
  top: 0.8rem;
  left: 0.5rem;
  width: 100%;
  height: 15px;
  background-color: #2c443a;
  content: "";
  z-index: -1;
}
.profile_box {
  margin-top: 30px;
  top: 11%;
  left: 60px;
  position: fixed;
  display: block;
  z-index: 100;
  font-weight: bold;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 3s ease 0s 1 normal;
  font-family: "Courier New", Courier, monospace;
}
.profile_box > .profile_box__sub {
  padding: 0 0 10px 0;
  position: absolute;
}
.profile_box > .about_link {
  top: 0;
}
.profile_box > .skill_link {
  top: 40px;
}
.profile_box > .portfolio_link {
  top: 80px;
}
.profile_box > .contact_link {
  top: 120px;
}
.profile_box__sub::before {
  position: absolute;
  top: 1.3em;
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 3px;
  background: #2c443a;
  transition: 0.7s;
}
.profile_box__sub:hover::before {
  width: 100%;
}
.profile_box > .profile_box__sub {
  text-decoration: none;
  color: #faf9f9;
  -webkit-text-stroke: 0.3px #2c443a;
}

/* トップページ画像 */
.main-image {
  height: 500px;
  width: 500px;
  max-width: 1000px;
  margin: auto;
  left: 7%;
  position: relative;
}
.main-image > img {
  object-fit: contain;
  height: 500px;
  border-radius: 2%;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}

/* SNSリンクなど */
.btnbar {
  bottom: 80px;
  right: 20px;
  width: 130px;
  height: 100px;
  position: fixed;
  z-index: 50;
}
.btnbar_co {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  left: 60px;
  border-radius: 30%;
  background-color: rgb(0, 0, 5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: 0.3s;
}
.btnbar_tw {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  left: 20px;
  bottom: 9px;
  border-radius: 30%;
  background-color: rgb(0, 0, 5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: 0.3s;
}
.btnbar_gi {
  font-size: 20px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  left: 92px;
  bottom: 9px;
  border-radius: 30%;
  background-color: rgb(0, 0, 5);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
  transition: 0.3s;
}
.btnbar_co:hover {
  vertical-align: top;
  transition: 0.6s ease-in-out;
  box-shadow: 0 25px 40px -10px rgba(0, 0, 0, 0.15), 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-9px);
}
.btnbar_tw:hover {
  vertical-align: top;
  transition: 0.6s ease-in-out;
  box-shadow: 0 25px 40px -10px rgba(0, 0, 0, 0.15), 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-9px);
}
.btnbar_gi:hover {
  vertical-align: top;
  transition: 0.6s ease-in-out;
  box-shadow: 0 25px 40px -10px rgba(0, 0, 0, 0.15), 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-9px);
}

/* アイコン */
.fas.fa-envelope-open-text {
  left: 60px;
  color: white;
}
.fab.fa-twitter {
  left: 20px;
  bottom: -30px;
  color: white;
}
.fab.fa-twitter.ok2 {
  color: #38aef0;
  -webkit-text-stroke: 0.16px #262c2a;
  transition: 1s;
}
.fab.fa-twitter.ok2:hover {
  color: #8cc9ec;
}

.fab.fa-github {
  left: 92px;
  bottom: -9px;
  color: white;
}
.fas.fa-laptop-code {
  padding-right: 10px;
}
.fas.fa-database {
  padding-right: 10px;
}
.fas.fa-network-wired {
  padding-right: 10px;
}
.fab.fa-html5 {
  padding-right: 10px;
}
.fab.fa-css3-alt {
  padding-right: 10px;
}
.fab.fa-js {
  padding-right: 10px;
}
.far.fa-gem {
  padding-right: 10px;
}
.fab.fa-aws {
  padding-right: 10px;
}
.fab.fa-github.ok {
  padding-right: 10px;
  color: black;
}
.fab.fa-github.ok2 {
  padding-left: 10px;
  color: black;
}
.fab.fa-app-store.ok2 {
  color: black;
}
.fas.fa-medal {
  padding-right: 6px;
  color: rgb(36, 80, 162);
}
.fas.fa-medal.no {
  padding-right: 6px;
  color: rgb(169, 171, 173);
}

/* 共通セレクタ */
.content {
  padding: 80px 80px 80px;
  height: 100%;
  width: 100%;
  z-index: 6;
  position: relative;
}
.content-title {
  width: fit-content;
  height: fit-content;
  font-size: 3.7rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  color: #faf9f9;
  -webkit-text-stroke: 0.8px #262c2a;
  position: absolute;
  margin: auto;
  top: -30%;
  bottom: 0;
  left: 0;
  right: -30%;
  z-index: 3;
  letter-spacing: 0.2rem;
}
.content-area {
  height: 100%;
  /* max-height: 700px; */
  width: 100%;
  z-index: 6;
  animation: fadeIn 6s ease 0s 1 normal;
  -webkit-animation: fadeIn 6s ease 0s 1 normal;
}
.profile_sub2 {
  padding: 9px;
}
.profile_sub2 > a {
  text-decoration: none;
  opacity: 0.3;
  color: black;
}
.profile_sub2 > a:hover {
  border-bottom: 2px solid #38aef0;
}
.profile_box2 {
  margin-top: 30px;
  top: 11%;
  left: 70px;
  position: absolute;
  z-index: 5;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}
.profile_box3 {
  margin-top: 30px;
  top: 11%;
  left: 70px;
  position: absolute;
  z-index: 5;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

.content.effect-scroll {
  opacity: 1;
  transform: translate(0, 0);
}
p {
  font-size: 13px;
}
table {
  display: block;
}
thead {
  display: inline-block;
  color: rgb(36, 80, 162);
}
tbody {
  display: inline-block;
}
tr {
  display: block;
  max-height: 40px;
}
th {
  padding: 10px 20px;
}
td {
  padding: 20px 7px;
  height: 18px;
  min-width: 95px;
}

/* Aboutページ */
.about-image {
  position: relative;
  width: 350px;
  margin: auto;
  top: 120px;
  right: 10%;
}
.profile-img {
  object-fit: cover;
  max-height: 400px;
  width: 350px;
  border-radius: 2%;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.about-image::after {
  content: "";
  /* background-color: rgba(114, 112, 111, 0.9); */
  background-color: rgba(150, 148, 141, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 400px;
  width: 350px;
}

.content-item {
  width: 100%;
  padding: 5px 20% 0 0;
  text-align: right;
  position: relative;
  top: 10%;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.content-item > h3 {
  padding: 5px;
  font-size: 2rem;
  color: #faf9f9;
  letter-spacing: 1px;
  overflow: hidden;
  /* 横ver*/
  /* transform: translate(-100%, 0); */
  /* transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s; */
  /* 縦ver */
  transform: matrix(1, 0, 0, 1, 0, 100);
  transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
.content-item > h3 > span {
  display: block;
  /* 横ver*/
  /* transform: translate(100%, 0); */
  /* transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 1.3s; */
  /* 左からスライドイン*/
  /* transform: transform cubic-bezier(0, 0, 0.2, 1) 1.3s; */
  /* 縦ver */
  transform: matrix(1, 0, 0, 1, 0, 100);
  transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
.content-item > h3.-visible,
.content-item > h3.-visible span {
  /* 横ver*/
  /* transform: translate(0, 0); */
  /* 縦ver */
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.content-item__text {
  line-height: 2.5;
  padding-top: 10px;
  overflow: hidden;
  transform: matrix(1, 0, 0, 1, 0, 400);
  transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
.content-item__text > li {
  display: block;
  /* 縦ver */
  transform: matrix(1, 0, 0, 1, 0, 400);
  transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
.content-item__text > a {
  display: block;
  /* 縦ver */
  transform: matrix(1, 0, 0, 1, 0, 400);
  transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}
.content-item__text.-visible,
.content-item__text.-visible li,
.content-item__text.-visible a {
  /* 横ver*/
  /* transform: translate(0, 0); */
  /* 縦ver */
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.twlink {
  font-size: 1.6rem;
  text-decoration: none;
}
.pf-link {
  color: #262c2a;
  transition: 1s;
  font-size: 1.6rem;
}
.pf-link:hover {
  text-decoration: none;
  color: #63726d;
}
.gmailLink {
  color: #38aef0;
  text-decoration: none;
}

/* Skillページ */
.skill-image {
  position: relative;
  /* position: absolute; */
  top: 10%;
  left: 15%;
  margin-right: 15%;
  width: fit-content;
}
.skill-image > img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 650px;
  border-radius: 2%;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.skill-image::after {
  content: "";
  /* background-color: rgba(114, 112, 111, 0.9); */
  background-color: rgba(150, 148, 141, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2%;
}
.skill-box > p {
  padding: 5px;
  font-size: 2rem;
  color: #faf9f9;
  letter-spacing: 1px;
}
.skill-box > li {
  display: inline-block;
  font-size: 2.5rem;
  padding: 0 20px 0 0;
}
.skillmid {
  max-height: 320px;
  height: 100%;
  display: block;
  text-align: center;
}
.skillbottom {
  display: block;
  height: 100%;
  max-height: 320px;
  text-align: center;
}
.skillul1 {
}
.skillli1 {
  display: inline-block;
  width: 100%;
  max-width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 2%;
  border: 1px solid rgb(105, 104, 104);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.skillul2 {
}
.skillli2 {
  margin: 2px;
  display: inline-block;
  width: 100%;
  max-width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 2%;
  border: 1px solid rgb(105, 104, 104);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.card {
  padding: 10px 5px;
  height: 100%;
}
.jqimg {
  object-fit: cover;
  width: 22px;
  margin-right: 10px;
}
.jqtext {
  bottom: 5px;
  position: relative;
}
.mysimg {
  object-fit: cover;
  width: 22px;
  margin-right: 10px;
}
.mystext {
  bottom: 5px;
  position: relative;
}
.posimg {
  object-fit: cover;
  width: 22px;
  margin-right: 10px;
}
.postext {
  bottom: 5px;
  position: relative;
}

/* Portfolioページ */
.pf-image {
  position: relative;
  /* position: absolute; */
  top: 8%;
  left: 15%;
  width: fit-content;
  margin-right: 15%;
}
.pf-image > img {
  object-fit: cover;
  width: 100%;
  max-width: 600px;
  border-radius: 2%;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.pf-image::after {
  content: "";
  /* background-color: rgba(114, 112, 111, 0.9); */
  background-color: rgba(150, 148, 141, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2%;
}

.portfoliobox {
  height: 100%;
  max-height: 700px;
  width: 100%;
  z-index: 6;
  /* animation: fadeIn 6s ease 0s 1 normal;
    -webkit-animation: fadeIn 6s ease 0s 1 normal; */
}
.portfoliotop {
  max-height: 220px;
  height: 100%;
  display: block;
  text-align: center;
}
.portfolioul1 {
  max-height: 220px;
  height: 100%;
}
.portsiteimg {
  object-fit: unset;
  height: 185px;
  width: 185px;
}
.portfolioli1 {
  display: inline-block;
  width: 100%;
  max-width: 190px;
  padding: 2px;
  height: 190px;
  background-color: white;
  border-radius: 2%;
  border: 1px solid rgb(105, 104, 104);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.portfoliomid {
  max-height: 220px;
  height: 100%;
  display: block;
  text-align: center;
}
.portfoliomid2 {
  max-height: 220px;
  height: 100%;
  display: block;
  text-align: center;
}
.portfolioul2 {
  max-height: 220px;
  height: 100%;
  position: relative;
}
.homelifeimg {
  object-fit: unset;
  height: 185px;
  width: 185px;
}
.portfolioli2 {
  display: inline-block;
  width: 100%;
  max-width: 190px;
  padding: 2px;
  height: 190px;
  background-color: white;
  border-radius: 2%;
  border: 1px solid rgb(105, 104, 104);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.portfoliobottom {
  display: block;
  height: 100%;
  max-height: 220px;
  text-align: center;
}
.portfolioul3 {
  max-height: 220px;
  height: 100%;
  position: relative;
}
.fmarketimg {
  object-fit: unset;
  height: 185px;
  width: 185px;
}
.portfolioli3 {
  display: inline-block;
  width: 100%;
  max-width: 190px;
  padding: 2px;
  height: 190px;
  background-color: white;
  border-radius: 2%;
  border: 1px solid rgb(105, 104, 104);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12), 0 2px 5px 0 rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.6s cubic-bezier(0.79, 0.21, 0.06, 0.81);
}
.portfolioli {
  width: 100%;
  max-width: 190px;
  height: 190px;
  display: inline-block;
  position: relative;
  bottom: 60px;
}
.portfolioli6 {
  width: 100%;
  max-width: 190px;
  height: 190px;
  display: inline-block;
  position: relative;
  bottom: 20px;
}
.linkapp {
  text-decoration: none;
  top: 9px;
  position: relative;
}
.appid {
  top: 10px;
  position: relative;
}
.linkapp:hover {
  border-bottom: 2px solid #38aef0;
}

/* Contactページ */
.contact-image {
  position: relative;
  /* position: absolute; */
  top: 6%;
  left: 15%;
  width: fit-content;
  margin-right: 15%;
}
.contact-image > img {
  object-fit: cover;
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 2%;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.contact-image::after {
  content: "";
  /* background-color: rgba(114, 112, 111, 0.9); */
  background-color: rgba(150, 148, 141, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2%;
}
.content-item__text > li > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contactbox {
  height: 100%;
  max-height: 700px;
  width: 100%;
  z-index: 6;
  /* animation: fadeIn 6s ease 0s 1 normal;
    -webkit-animation: fadeIn 6s ease 0s 1 normal; */
}
.coform {
  text-align: center;
  top: 30%;
  position: relative;
}
.cotop {
  font-size: 30px;
}
.coadd {
  color: black;
  font-size: 20px;
}
.footer {
  position: relative;
  text-align: center;
}
