/* SVGウェーブアニメーション */
.top {
  display: block;
  width: 100%;
  height: 20px;
  max-height: 20px;
  margin: 0;
  bottom: 785px;
  left: 0px;
  float: left;
}
.top2{
  display: block;
  width: 100%;
  height: 20px;
  top: 100px;
  position: fixed;
  z-index: 1;
}
.bottom {
  display: block;
  width: 100%;
  height: 20px;
  max-height: 20px;
  margin: 0;
  z-index: 0;
  bottom: 30px;
  position: fixed;
  left: 0px;
  float: left;
}
.wave1 > use{
  animation: movewave1 10s linear infinite;
  
}
.wave2 > use {
  animation: movewave2 7s linear infinite;
  
}

.wave3 > use {
  animation: movewave3 5s linear infinite;
  
}
.wave4 > use {
  animation: movewave3 6s linear infinite;
  
}

.wave5 > use {
  animation: movewave4 14s linear infinite;
  
}
use:nth-child(1) {
  animation-delay: -2s;
}
@keyframes movewave1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes movewave2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes movewave3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes movewave4 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}